{% extends 'main.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <style>
      .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
      }
    </style>
    <!-- ------------------HOME CONTAINER------------------------- -->
    <div class="home-container">
      <!-- ----------------------TOPICS TOPICS------------------- -->
      <div>{% include 'base/topics_component.html' %}</div>

      <!-- ----------------------ROOMS------------------- -->
      <div>
        <h2>{{room_count}} rooms available</h2>

        <a href="{% url 'create-room' %}">Create Room</a>

        {% include 'base/feed_component.html' %}
      </div>

      <!-- ----------------------RECENTS------------------- -->
      <div>{% include 'base/activity_component.html' %}</div>
    </div>
  </body>
</html>
{% endblock %}
